/* cards */
//  .sections-cards{
//     display: flex;
//      flex-wrap: nowrap;
//      flex-direction: row;
       
//  }

.CardsContainer{
    text-align: left;
    // background-color: #353233;\
    background-color: #201E1F;
    height: 100%;
}

.MyWorkTitle{
    text-align: center;
    margin-top: 0;
    padding: 20px;
    color: white;
    font-size: 31px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding : 20px;
    grid-gap: 10px;
    background-color: #201E1F;
}

.card{
    max-width: 100%; //revisar esto
    background-color: #1c1b29;
    border-radius: 35px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    max-width: 390px; /* Ajusta el valor según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente las tarjetas */
    overflow: hidden;
}

.conteiner{
     position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}

.card-image{
    // width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 30px 30px 0 0 ;
}
.conteiner:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px 30px 0 0;
    opacity: 0.7;
}
.card1>.conteiner:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}

.card2>.conteiner:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}

.card3>.conteiner:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}

.details{
    padding: 30px 25px;
}


.details>h3{
    color:white;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

// swiper

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: auto;
    // margin: 0 10px;
  }

  .swiper-slide  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 /* Cambiar el color de fondo de la paginación */
  
  /* Cambiar el color de los puntos de la paginación */
  .swiper-pagination .swiper-pagination-bullet {
    background-color: #70EE9C;
  }
  
  


@media (max-width: 1280px){
    .card1>.conteiner:after{
        background-image: linear-gradient(
            135deg,
            #ffab1d,
            #f8501c
        );
    }
    
    .card2>.conteiner:after{
        background-image: linear-gradient(
            135deg,
            #ffab1d,
            #f8501c
        );
    }
    
    .card3>.conteiner:after{
        background-image: linear-gradient(
            135deg,
            #0100ec,
            #fb36f4
        );
    }
    
}


