footer{
    display: grid;
    background-color: #161918;
    gap: 1px;
    width: 100%;
}


footer{
    font-size: 1.2vw;
    text-align: center;
    justify-content: center;
    

    ul{
        display: flex;
        padding: 20px;
        gap: 50px;
        list-style: none;
    }
    ul li a:hover{
        color: #1ed690;
    }

}

.firma{
    color: rgba(255, 255, 255, 0.459);
    justify-content: center;
    user-select: none;
    font-size: 1vw;
}


// media queries Footer

@media (max-width:950px){
    footer{
        font-size: 2vw;
        width: 100%;
    }
}

@media (max-width: 740px){
    footer{
        min-width: 100%;
    }
}