.navbar{
    display: flex;
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    background-color: #161918;
    color: white;
  
  }
  
  .navbar img{
    text-align: center;
    height: 380px;
    width: 380px;
    padding-top: 10px;
  }
  
  .navbar-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links ul a{
    font-size: 30px;
    font-weight: 600;
    padding: 0 35px 0 0;
  }


  
  .navbar-links li{
    list-style: none;
    font-weight: 600;
    font-size: 25px;
  }
  
  .navbar-links li:hover{
    list-style: none;
   
  }
  
  
  .navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

  }

  #menu:hover{
    color:#1ed690;  /* hover de menu*/
  }
  
  // efecto hover

  .wrapper {
    // display: block;
    // position: absolute;
    // top: 30%;
    // left:50%;
    // -webkit-transform: translate(-50%,-50%);
  }
  
  ul a {
    // display: inline-block;
    position: relative;
    // font-family: 'Dosis', sans-serif;
  }
  
  /*effect-underline*/
  a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    height: 1em;
    width: 83%;
    border-bottom: 1px solid;
    margin-top: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }







  // menu hamburgesa



  
  .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    // background: white;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .navbar-links li a:hover{
    color:#1ed690 ;
  
  }
  
  @media (max-width: 950px){
  
    .navbar-links a {
      margin: 10px 0;
      padding: 0 40px  0 0;
      font-size: 20px;
      color: black;
    }

    #menu:hover{
      color: #fff; // color hover
    }
    .navbar-links{
      visibility: hidden;
      position: absolute;
      top: 100%;
      background-color: #1ed690; // color de fondo hamburger menu
      width: 100%;
      padding: 10px;
      text-align: center;
      justify-content: center;
      
    }
  
    .menu-btn.open ~ .navbar-links {
      visibility: visible;
      transform: translateY(0);
    }
  
    .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      // background: white;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      
      /* border: 3px solid #fff; */
    }
    .menu-btn__burger {
      width: 50px;
      height: 6px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
      transform: translateY(-16px);
    }
    .menu-btn__burger::after {
      transform: translateY(16px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
   
  }