/* ----- social -------*/

.social-bar{
    position: fixed;
    right: 0;
    top: 75%;
    font-size: 2.5rem;
    display: flex;
    flex-direction:column;
    align-items:flex-end;
    z-index: 100;

}

.icon {
    color: white;
    text-decoration: none;
    padding: .6rem;
    display: flex;
    transition: all .5s;
    padding-right: 7px;
    
}

.icon-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    padding-bottom: 10px;

}

.icon-whatsapp{
    color: white;
    background-color: #25D366 ;
    padding-bottom: 10px;
    
}

.icon-linkedin{
    background-color: #0073b2 ;
    padding-bottom: 10px;
    
}

.icon-github{
    /* background-color: #181717; */
    background-color: #6e5494;
    padding-bottom: 10px;
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}
.icon:last-child{
    border-radius: 0 0 0 1rem;
}
.icon:hover{
    padding-right: 6rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
